@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", serif;
    background: linear-gradient(to bottom, #535553, #d6dcd7);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1500px;
    margin-inline: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-inline: 24px;
    padding-block: 12px;
    background-color: #dedede;
    border: 1px solid #cecece;
    border-radius: 16px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: sticky;
    top:0px;
    z-index: 10;
}

#title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;
}

#title-div > figure >img {
    width: 96px;
}

#title-div > h1 {
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 2px;
}

#logo {
    animation-name: rotate;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

header > nav > ul {
    display: flex;
    margin-inline: 48px;
    margin-top: 24px;
    margin-bottom: 12px;
    justify-content: space-between;
}

header > nav > ul > li {
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #000000;
    padding: 12px 6px;
    background-color: #cecece;
    border-radius: 4px;
}

header > nav > ul > li > a:hover {
    background-color: #5a56ea;
    color: #dedede;
}

.active > a {
    background-color: #56ea68;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    display: none;
}

main {
    width: 85%;
    min-width: 650px;
    max-width: 1452px;
    margin-inline: auto;
    padding: 12px;
    text-wrap: pretty;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    margin-inline: auto;
    margin-bottom: 12px;
    text-wrap: pretty;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    margin-inline: auto;
    margin-block: 12px;
    text-wrap: pretty;
}

li {
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #aeaeae, #dedede);
    padding: 24px 12px;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 24px;
    margin-bottom: 12px;
    text-wrap: pretty;
}

.small-font {
    font-size: 16px;
}

footer {
    width: 90%;
    max-width: 1500px;
    margin-inline: auto;
    margin-block: 16px;
    padding-inline: 24px;
    padding-block: 12px;
    background-color: #424141;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 16px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: #dedede;
    display: flex;
}

footer > p {
    margin-inline: auto;
    text-wrap: pretty;
}

@media screen and (max-width: 800px) {
    header {
        max-width: 600px;
        width: 95%;
    }
    
    #title-div {
        padding-inline: 4px;
    }

    #title-div > h1 {
        font-size: 28px;
        letter-spacing: 1px;
    }

    #title-div > figure >img {
        width: 64px;
    }

    header > nav {
        display: none;
    }

    header > nav > ul {
        margin-inline: 0px;
        flex-direction: column;
        width: 100%;
    }

    header > nav > ul > li {
        margin-block: 12px;
    }
    
    header > nav > ul > li > a {
        font-size: 16px;
        padding: 12px 6px;
        background-color: #dedede;
    }

    .active > a {
        background-color: #dedede;
    }

    .menu-icon {
        display: block;
    }

    main {
        max-width: 700px;
        min-width: 320px;
        padding: 0px;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 800;
        margin-inline: auto;
        margin-bottom: 12px;
        text-wrap: pretty;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 18px;
    }
    
    .small-font {
        font-size: 14px;
    }

    footer {
        width: 95%;
    }
}

@keyframes rotate {
    0% {
        rotate: -5deg;
    }
    50% {
        rotate: 5deg;
    }
    100% {
        rotate: -5deg;
    }
}