body {
    height: 100%;
    min-height: 97vh;
}

section {
    background: linear-gradient(to top, #7b8a853a, #89e2c43a);
}

section > ul {
    display: flex;
    margin-inline: 48px;
    justify-content: center;
}

section > ul > li {
    margin-inline: 12px;
}

section > ul > li > ul {
    margin-inline: 16px;
}

section > ul > li,  section > ul > li > ul > li{
    list-style: none;
    display: flex;
    flex-direction: column;
}

figure {
    display: flex;
    flex-direction: column;
}

img {
    width: 256px;
    border-radius: 50%;
    border: 8px solid rgb(19, 18, 18);
    margin-inline: auto
}

figure > p {
    margin-inline: auto;
}

footer {
    align-self: flex-end;
}