body {
    height: 100%;
    min-height: 97vh;
}

section {
    background: linear-gradient(to top, #aeaeae, #dbe1cc);
}

section > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 48px;
    margin-top: 16px;
    justify-content: center;
}

section > ul > li {
    margin-inline: 12px;
}

section > ul > li > ul {
    margin-inline: 24px;
}

section > ul > li,  section > ul > li > ul > li{
    list-style: none;
    display: flex;
    flex-direction: column;
}

section > ul > li > div {
    display: flex;
    justify-content: center;
    & > figure {
        display: flex;
        flex-direction: column;
        width: 256px;
        & > img {
            width: 256px;
            border-radius: 50%;
            border: 8px solid rgb(19, 18, 18);
            margin-inline: auto
        }
    }
} 

#Alvaro{
    transition: transform 0.8s, color 0.8s, font-weight 0.4s;
    &:hover{
        transform: scale(1.15);
        color: #6622AA;
        font-weight: bold;
    }
}

#Alejandro{
    transition: transform 0.3s, color 0.8s, font-weight 0.4s;
    &:hover{
        transform: scale(1.4, 0.6);
        color: #22AA66;
        font-weight: bold;
    }
}

#Carlos{
    transition: transform 2s, color 0.8s, font-weight 0.4s;
    &:hover{
        transform: rotate(180deg);
        color: #AA6622;
        font-weight: bold;
    }
}

figure > p {
    margin-top: 16px;
    margin-inline: auto;
}

footer {
    align-self: flex-end;
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 22px;
    }

    section > ul {
        display: flex;
        flex-direction: column;
        margin-inline: 16px;
    }
    
    section > ul > li {
        margin-inline: 4px;
        margin-block: 16px;
    }

    section > ul > li:nth-child(1) {
        margin-top: 0px;
    }
    
    section > ul > li > ul {
        margin-inline: 12px;
    }

    section > ul > li > ul {
        margin-inline: 16px;
    }

    section > ul > li > figure > img {
        width: 192px;
        border: 4px solid rgb(19, 18, 18);
    }
}