#s-gameplay, #s-rule-point-distribution {
    margin-top: 24px;
}

#s-intro {
    background: linear-gradient(to top, #aeaeae, #e1dacc);
}

#s-gameplay {
    background: linear-gradient(to top, #aeaeae, #e1ccde);
}

#s-rule-point-distribution {
    background: linear-gradient(to top, #aeaeae, #ccd9e1);
}

li {
    font-size: 22px;
}

li > a {
    font-size: 20px;
}

section > ol > li, section > ul > li {
    margin-left: 24px;
}

section > ol > li > ol > li, section > ol > li > ul > li, section > ul > li > ul > li {
    margin-left: 32px;
}

.vertical-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-left: -24px;
    margin-bottom: 24px;
}

.vertical-list > li {
    margin-inline: auto;
    view-timeline: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.vertical-list > li > figure {
    display: flex;
    flex-direction: column;
}

.vertical-list > li > figure > p {
    margin-inline: auto;
}

.vertical-list > li > figure > img { 
    height: 180px;
    margin-inline: auto;
    border-radius: 4px;
    transition: scale 0.5s ease-in-out;
}

.vertical-list > li > figure > img:hover {
    scale: 1.1;
}

section > ul > li > ul > li > ul > li {
    margin-left: 44px;
}

@media screen and (max-width: 800px) {
    li {
        font-size: 18px;
    }
    
    section > ol > li, section > ul > li {
        margin-left: 24px;
    }
    
    section > ol > li > ol > li, section > ol > li > ul > li, section > ul > li > ul > li {
        margin-left: 28px;
    }
    
    section > ul > li > ul > li > ul > li {
        margin-left: 32px;
    }

    .vertical-list {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        margin-top: 16px;
    }

    .vertical-list > li {
        margin-bottom: 24px;
    }
}

@keyframes show {
    from {
        opacity: 0; scale: 0%;
    }
    to {
        opacity: 1; scale: 100%;
    }
}